:root {
    --border-style: 1px solid #7DF9FF;
    --input-background: rgba(255, 255, 255, 1);
}


* {
    font-family: "IBMPlexMono", -apple-system, BlinkMacSystemFont, "DejaVu Sans Mono", "Menlo",
    "Consolas", "Liberation Mono", "Monaco", "Fira Mono", "Lucida Console",monospace;
}

html {
    background-color: #2d076b9d;
    text-align: left;
    color: white;
}

body {
    margin-top: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: bold;
    src: local(""),
    url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2") format("woff2");
}

#app {
    height: 95vh;
    text-align: left;
}

.result {
    margin-top: 2.5vh;
}

th {
    border-bottom: var(--border-style);
    vertical-align: top;
    padding: 5px;
    padding-left: 5px;
    text-align: center;
    font-weight: bold;
}

td {
    border: var(--border-style);
    vertical-align: top;
    padding: 5px;
    padding-left: 5px;
}

pre {
    vertical-align: top;
    margin: 0px;
}

.input-box .input, 
.input-box select {
    height: 30px;
    line-height: 30px;
    border: var(--border-style);
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    background-color: var(--input-background);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover,
.input-box select:hover {
    background-color: var(--input-background);
}

.input-box .input:focus,
.input-box select:focus {
    background-color: var(--input-background);
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #2e86b682 100%);
    color: #333333;
}

.indented {
    margin-top:10px;
    margin-left:100px;
}

.metadata-entry {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.jsonKey {
    width: 200px;
}

.jsonValue {
    width: 400px;
}