:root {
    --border-style: 1px solid #7DF9FF;
    --input-background: rgba(255, 255, 255, 1);
    --corner-rounding: 3px;
    --line-spacing: 30px;
    --elementVerticalSeparation: 10px;
    --table-cell-padding: 5px;
}


* {
    font-family: "IBMPlexMono", -apple-system, BlinkMacSystemFont, "DejaVu Sans Mono", "Menlo",
        "Consolas", "Liberation Mono", "Monaco", "Fira Mono", "Lucida Console", monospace;
}

html {
    background-color: #2d076b9d;
    text-align: left;
    color: white;
}

body {
    margin-top: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-style: normal;
    src: local(""),
        url('assets/fonts/glyphicons_halflings/glyphicons-halflings-regular.woff2') format('woff2');
}

#app {
    height: 95vh;
    text-align: left;
}

th {
    border-bottom: var(--border-style);
    padding: var(--table-cell-padding);
    font-weight: bold;
}

td {
    border: var(--border-style);
    vertical-align: top;
    padding: var(--table-cell-padding);
    white-space: normal;
    overflow-wrap: break-word;
}

pre {
    vertical-align: top;
    margin: 0px;
}

span.glyph.sort-trigger {
    font-size: 16px;
}

.table-header {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.table-header .sort-trigger {
    cursor: pointer;
}

.input-box .input,
.input-box select {
    height: 30px;
    line-height: var(--line-spacing);
    border: var(--border-style);
    border-radius: var(--corner-rounding);
    outline: none;
    padding: 0 var(--elementVerticalSeparation);
    background-color: var(--input-background);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover,
.input-box select:hover {
    background-color: var(--input-background);
}

.input-box .input:focus,
.input-box select:focus {
    background-color: var(--input-background);
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: var(--line-spacing);
    border-radius: var(--corner-rounding);
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #2e86b682 100%);
    color: #333333;
}

.metadata-entry {
    display: flex;
    align-items: center;
    margin-top: var(--elementVerticalSeparation);
}

.jsonKey {
    width: 200px;
}

.jsonValue {
    width: 400px;
}

.input-box {
    margin-top: var(--elementVerticalSeparation);
}

.subsection,
.subsection2 {
    margin-top: var(--elementVerticalSeparation);
    margin-left: 20px;
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.glyphicon-link:before {
    content: "\e144";
}

.clipboard-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: var(--corner-rounding);
    z-index: 1000;
}