* {
    font-family: "IBMPlexMono", -apple-system, BlinkMacSystemFont, "DejaVu Sans Mono", "Menlo",
    "Consolas", "Liberation Mono", "Monaco", "Fira Mono", "Lucida Console",monospace;
}

html {
    background-color: #5007b54e;
    text-align: left;
    color: white;
}

body {
    margin-top: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: bold;
    src: local(""),
    url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2") format("woff2");
}

#app {
    height: 95vh;
    text-align: left;
}
